html, body {
    font-size: 62.5%;
    font-family: 'pr-font-regular';
    font-weight: 300;
}

.yellow-fang-deal-logo::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 110px;
    height: 40px;
    background: url(https://ybtour.co.kr/assets/main/desktop/images/ico/ico_spr.png) 0px -130px no-repeat;
    content: "";
}

.clock::before {
    position: absolute;
    left: 15px;
    top: 50%;
    width: 18px;
    height: 18px;
    background: url(https://ybtour.co.kr/assets/main/desktop/images/ico/ico_spr.png) 0px -176px no-repeat;
    transform: translateY(-50%);
    content: "";
}

.mid-dot::before {
    position: absolute;
    left: 0px;
    top: 11px;
    width: 3px;
    height: 3px;
    background-color: gainsboro;
    content: "";
}

.yellow-balloon::after {
    position: absolute;
    right: 0px;
    bottom: 22px;
    width: 176px;
    height: 127px;
    background: url(https://ybtour.co.kr/assets/main/desktop/images/ico/ico_spr.png) 0px 0px no-repeat;
    content: "";
}

.prev::before {
    display: inline-block;
    background: url(https://ybtour.co.kr/assets/main/desktop/images/ico/ico_spr.png) -56px -200px / 600px 600px no-repeat;
    width: 6px;
    height: 11px;
    content: "";
}

.next::before {
    display: inline-block;
    background: url(https://ybtour.co.kr/assets/main/desktop/images/ico/ico_spr.png) -64px -200px / 600px 600px no-repeat;
    width: 6px;
    height: 11px;
    content: "";
}

.img-op::before {
    position: absolute;
    top: 0px;
    left: 50%;
    display: block;
    width: 210px;
    height: 210px;
    transform: translate(-50%, 0px);
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
    content: "";
}

.gray-prev::before {
    display: inline-block;
    background: url(https://ybtour.co.kr/assets/main/desktop/images/ico/ico_spr.png) -32px -200px / 600px 600px no-repeat;
    width: 6px;
    height: 11px;
    /*transform: translateX(-50%);*/
    content: "";
}

.gray-next::before {
    display: inline-block;
    background: url(https://ybtour.co.kr/assets/main/desktop/images/ico/ico_spr.png) -24px -200px / 600px 600px no-repeat;
    width: 6px;
    height: 11px;
    /*transform: translateX(-50%);*/
    content: "";
}
.bg-img::after {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border-radius: 1.6rem;
    background-color: rgba(0, 0, 0, 0.3);
    content: "";
}
