@keyframes slide {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-22rem);
  }
  40% {
    transform: translateX(-44rem);
  }
  60% {
    transform: translateX(-66rem);
  }
  80% {
    transform: translateX(-88rem);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-slide {
  animation: slide 8s ease-in-out infinite;
}
