body {
  scrollbar-width: 0;
  -ms-overflow-style: none;
}
body::-webkit-scrollbar {
  display: none;
}

.banner-close {
  position: absolute;
  right: 0;
  top: 50%;
  width: 25px;
  height: 25px;
  padding: 0;
  margin: 0;
  border: 0;
  background: none;
  transform: translateY(-50%);

  &::before,
  &::after {
    position: absolute;
    right: -3px;
    height: 1px;
    width: 32px;
    background: #000;
    border-radius: 1px;
    content: "";
  }

  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
}

/*
  이미지 크기 420px + 20px(margin) + 이미지 중간값 210px = 650px
  이미지 갯수 9개
  총 이미지 크기 650px * 9 = 5850px
*/

@keyframes slide {
  0%,
  9.25% {
    transform: translateX(-650px);
  }
  11.11%,
  20.36% {
    transform: translateX(-1300px);
  }
  22.22%,
  31.47% {
    transform: translateX(-1950px);
  }
  33.33%,
  42.58% {
    transform: translateX(-2600px);
  }
  44.44%,
  53.69% {
    transform: translateX(-3250px);
  }
  55.55%,
  64.8% {
    transform: translateX(-3900px);
  }
  66.66%,
  75.91% {
    transform: translateX(-4550px);
  }
  77.77%,
  87.02% {
    transform: translateX(-5200px);
  }
  88.88%,
  98.13% {
    transform: translateX(-5850px);
  }
  100% {
    transform: translateX(-650px);
  }
}

.animate-slide:hover {
  animation-play-state: paused;
}

.animate-slide {
  animation: slide 36s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

.card {
  display: inline-grid;
  color: white;
  transition: transform 0.5s ease-in-out;
  transform: perspective(2500px) rotateY(0deg);
  transform-style: preserve-3d;
}

.card > * {
  grid-area: 1/1/1/1;
  width: 590px;
  height: 340px;
  padding: 50px;
  border-radius: 16px;
  overflow: hidden;
  backface-visibility: hidden;
}

.card-wrapper {
  cursor: pointer;
}

.card-wrapper:hover .card {
  transform: perspective(2500px) rotateY(180deg);
}

.card-back {
  transform: rotateY(180deg);
  background-color: #f78f61;
}
